/* font-family: 'Indie Flower', cursive;
font-family: 'Amatic SC', cursive;
 */

* {
  box-sizing: border-box;
}

body {
  /* font-family: 'Indie Flower', cursive;
  font-family: 'Amatic SC', cursive; */
  font-family: "Coming Soon", cursive;
  font-size: 16px;
  overscroll-behavior: contain;
}

.App {
  text-align: center;
}

.logo {
  font-family: "Permanent Marker", cursive;
  /* background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(254,95,0,1) 0%, rgba(255,229,106,1) 90% );
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(4,159,108,1) 0%, rgba(194,254,113,1) 90.1% ); */
  /* background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  color: orange;
  /* border: 1px solid; */
  -webkit-text-stroke: 0.1px #fbfff9;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-image: radial-gradient(
    circle farthest-corner at -3.1% -4.3%,
    rgba(57, 255, 186, 1) 0%,
    rgba(21, 38, 82, 1) 90%
  );
  background-image: radial-gradient(
    circle farthest-corner at 12.3% 19.3%,
    rgba(85, 88, 218, 1) 0%,
    rgba(95, 209, 249, 1) 100.2%
  );
  /* background-image: linear-gradient( 109.6deg,  rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% ); */
  /* background-image: radial-gradient( circle 592px at 48.2% 50%,  rgba(255,255,249,0.6) 0%, rgba(160,199,254,1) 74.6% ); */
  /* background-image: linear-gradient( 107deg,  rgba(13,198,180,1) 8.1%, rgba(33,198,138,1) 79.5% ); */
  /* background-image: linear-gradient( 180.5deg,  rgba(0,128,128,1) 8.5%, rgba(174,206,100,1) 118.2% ); */
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
  /* animation: gradientBG 20s ease infinite; */
  background-size: 400% 400%;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.App-link {
  color: #09d3ac;
}

.footer {
  grid-area: footer;
}

.header {
  grid-area: header;
}

.screen {
  flex: 1;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 2.5fr 100px;
  grid-template-areas: "header" "main" "footer";
  padding: 20px 30px;
}

.screen main {
  grid-area: main;
}

input {
  background: darkblue;
  padding: 20px;
  color: lightblue;
  border: 1px solid lightblue;
  border-radius: 10px;
}

.alternatives {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.alternative {
  background: #ffb300;
  padding: 10px 20px;
  border: 3px solid #fff;
  border-radius: 10px;
  background-size: 120% 120%;
  animation: gradientBG 2s ease infinite;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.17);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 13vh;
}

/* .alternative:hover {
  transform: scale(1.05) rotate(-2deg); /*translate(-50px,0px)
}*/

.alternative:nth-child(1) {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 122, 78, 1) 0%,
    rgba(255, 205, 112, 1) 90%
  );
}

.alternative:nth-child(2) {
  background-image: radial-gradient(
    circle farthest-corner at 90% 20%,
    rgba(255, 122, 78, 1) 0%,
    rgba(255, 205, 112, 1) 90%
  );
}

.alternative:nth-child(3) {
  background-image: radial-gradient(
    circle farthest-corner at 10% 80%,
    rgba(255, 122, 78, 1) 0%,
    rgba(255, 205, 112, 1) 90%
  );
}

.alternative:nth-child(4) {
  background-image: radial-gradient(
    circle farthest-corner at 90% 80%,
    rgba(255, 122, 78, 1) 0%,
    rgba(255, 205, 112, 1) 90%
  );
}

.alternative.isMine {
  background-image: linear-gradient(
    108.3deg,
    rgba(202, 73, 118, 1) 15.2%,
    rgba(255, 84, 84, 1) 99.3%
  );
}

.alternative.isCorrect {
  background-image: linear-gradient(
    107deg,
    rgba(13, 198, 180, 1) 8.1%,
    rgba(33, 198, 138, 1) 79.5%
  );
}

.alternative.isCorrect.isMine {
  background-image: linear-gradient(
    107deg,
    rgba(13, 198, 180, 1) 8.1%,
    rgba(33, 198, 138, 1) 79.5%
  );
  color: #333;
  border: 3px solid white;
}

button {
  background: linear-gradient(to right, #56ccf2, #2f80ed);
  padding: 10px 60px;
  border: 2px solid white;
  border-radius: 7px;
  color: white;
  font-size: 1.3rem;
  margin-top: 30px;
}

.timerbar {
  width: 100%;
  background: white;
  border: 1px solid white;
  position: relative;
  height: 8px;
  margin-top: 20px;
}

.timerbar:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: red;
  animation: toZero 10s linear;
  animation-fill-mode: forwards;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.timerbar .value {
  z-index: 1;
  background: white;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: black;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
}

.timerbar .value span {
  display: inline-block;
  animation: pulse-1 0.5s ease-in;
}

.timerbar .value span.anim0 {
  animation: pulse-0 0.5s ease-in;
}

@keyframes pulse-0 {
  0% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulse-1 {
  0% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes toZero {
  0% {
    width: 100%;
    background: green;
    box-shadow: 0px 0px 10px green;
  }
  50% {
    background: yellow;
    /* transform: scaleY(1); */
    box-shadow: 0px 0px 10px yellow;
  }
  100% {
    width: 0%;
    background: red;
    /* transform: scaleY(2); */
    box-shadow: 0px 0px 10px 5px red;
  }
}

.fullscreen {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  flex: 1 0 auto;
}

input,
select {
  font-size: 100%;
}

.wrapper {
  position: relative;
  background: white;
  /* overflow: hidden; */
}

.ptr {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  z-index: 10;
  text-align: center;
  height: 50px;
  pointer-events: none;
}

.refresher {
}

/* smooth reset */
.ptr-loading .content,
.ptr-reset .content,
.ptr-loading .ptr,
.ptr-reset .ptr {
  transition: all 0.25s ease;
}

/* ?? **/
/* .ptr-reset .content {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
} */

.pull-waiting .content,
.pull-resetting .content,
.pull-waiting .indicator,
.pull-resetting .indicator {
  transition: all .25s ease;
}

.pull-ready .indicator {
  background: lightGreen;
}

.pull-waiting .indicator {
  background: yellow;
  opacity: 1;
}

.pull-active .indicator {
  display: block;
}

.screen {
  /* background: black; */
}

:root {
  --pull-progress: 0;
  --pull-distance: 0;
}

.indicator {
  left: 0;
  right: 0;
  margin: auto;
  top: 0px;
  z-index: 10;
  text-align: center;
  height: 10px;
  width: 10px;
  background: white;
  border-radius: 50%;
  margin: 0 auto;
  /* opacity:0; */
  display: none;
  opacity: var(--pull-progress);
  transform:
    translateY(calc(var(--pull-distance) * 1px))
    scale(calc(2 * var(--pull-progress)));
}

.pull-waiting .indicator {
  transform: scale(1.8);
  /* transition: scale 1s linear; */
}

/** keep content locked while loading. */
/* .pull-waiting .content {
  -webkit-transform: translate3d(0, 50px, 0);
  transform: translate3d(0, 50px, 0);
} */
